.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project
dk.sdu.bdd.xtext.parent/.project
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.examples/bin/dk/sdu/bdd/xtext/examples/features/tests.feature
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.examples/src/dk/sdu/bdd/xtext/examples/features/__pycache__/environment.cpython-312.pyc
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.examples/src/dk/sdu/bdd/xtext/examples/features/logic/__pycache__/fileReader.cpython-312.pyc
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.examples/src/dk/sdu/bdd/xtext/examples/features/tests.feature
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ide/src-gen/dk/sdu/bdd/xtext/ide/AbstractBddDslIdeModule.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ide/src-gen/dk/sdu/bdd/xtext/ide/contentassist/antlr/BddDslParser.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ide/src-gen/dk/sdu/bdd/xtext/ide/contentassist/antlr/internal/InternalBddDsl.g
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ide/src-gen/dk/sdu/bdd/xtext/ide/contentassist/antlr/internal/InternalBddDsl.tokens
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ide/src-gen/dk/sdu/bdd/xtext/ide/contentassist/antlr/internal/InternalBddDslLexer.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ide/src-gen/dk/sdu/bdd/xtext/ide/contentassist/antlr/internal/InternalBddDslParser.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ide/src-gen/dk/sdu/bdd/xtext/ide/contentassist/antlr/PartialBddDslContentAssistParser.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ide/src-gen/META-INF/services/org.eclipse.xtext.ISetup
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.tests/src-gen/dk/sdu/bdd/xtext/tests/BddDslInjectorProvider.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ui.tests/src-gen/dk/sdu/bdd/xtext/ui/tests/BddDslUiInjectorProvider.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ui/src-gen/dk/sdu/bdd/xtext/ui/AbstractBddDslUiModule.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ui/src-gen/dk/sdu/bdd/xtext/ui/BddDslExecutableExtensionFactory.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ui/src-gen/dk/sdu/bdd/xtext/ui/contentassist/AbstractBddDslProposalProvider.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ui/src-gen/dk/sdu/bdd/xtext/ui/internal/XtextActivator.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ui/src-gen/dk/sdu/bdd/xtext/validation/BddDslValidatorConfigurationBlock.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.web/src-gen/dk/sdu/bdd/xtext/web/AbstractBddDslWebModule.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.web/WebRoot/xtext-resources/generated/mode-bdd.js
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/model/generated/BddDsl.ecore
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/model/generated/BddDsl.genmodel
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/AbstractBddDslRuntimeModule.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ActionDef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ActionRef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/BddDslFactory.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/BddDslPackage.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/DeclarativeEntityAction.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/DeclarativeEntityDef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/DeclarativeEntityOrPropertyRef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/DeclarativeEntityPropertyAction.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/DeclarativeEntityPropertyStatePhrase.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/DeclarativeEntityRef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/DeclarativeEntityStatePhrase.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/DeclarativeEntityStatePhraseWithProperty.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/DeclarativeScenarioAction.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/DeclarativeScenarioActionAnd.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/DeclarativeScenarioState.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/DeclarativeScenarioStateAnd.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeActionDef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeActionRef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeEntityAction.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeEntityDef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeEntityPropertyAction.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeEntityPropertyStatePhrase.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeEntityRef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeEntityStatePhrase.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeEntityStatePhraseWithProperty.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativePropertyDef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativePropertyRef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeScenario.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeScenarioAction.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeScenarioActionAnd.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeScenarioState.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeScenarioStateAnd.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeStateDef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeStateName.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ImperativeVerbAction.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ActionDefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ActionRefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/BddDslFactoryImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/BddDslPackageImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/DeclarativeEntityActionImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/DeclarativeEntityDefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/DeclarativeEntityOrPropertyRefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/DeclarativeEntityPropertyActionImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/DeclarativeEntityPropertyStatePhraseImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/DeclarativeEntityRefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/DeclarativeEntityStatePhraseImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/DeclarativeEntityStatePhraseWithPropertyImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/DeclarativeScenarioActionAndImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/DeclarativeScenarioActionImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/DeclarativeScenarioStateAndImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/DeclarativeScenarioStateImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeActionDefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeActionRefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeEntityActionImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeEntityDefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeEntityPropertyActionImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeEntityPropertyStatePhraseImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeEntityRefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeEntityStatePhraseImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeEntityStatePhraseWithPropertyImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativePropertyDefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativePropertyRefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeScenarioActionAndImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeScenarioActionImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeScenarioImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeScenarioStateAndImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeScenarioStateImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeStateDefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeStateNameImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ImperativeVerbActionImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ModelImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ModelRefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/PropertyDefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/PropertyRefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/ScenarioImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/StateDefImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/StateNameImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/impl/VerbActionImpl.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/Model.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/ModelRef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/PropertyDef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/PropertyRef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/Scenario.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/StateDef.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/StateName.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/util/BddDslAdapterFactory.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/util/BddDslSwitch.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/bddDsl/VerbAction.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/BddDslStandaloneSetupGenerated.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/parser/antlr/BddDslAntlrTokenFileProvider.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/parser/antlr/BddDslParser.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/parser/antlr/internal/InternalBddDsl.g
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/parser/antlr/internal/InternalBddDsl.tokens
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/parser/antlr/internal/InternalBddDslLexer.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/parser/antlr/internal/InternalBddDslParser.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/scoping/AbstractBddDslScopeProvider.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/serializer/BddDslSemanticSequencer.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/serializer/BddDslSyntacticSequencer.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/services/BddDslGrammarAccess.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/validation/AbstractBddDslValidator.java
dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/src-gen/dk/sdu/bdd/xtext/validation/BddDslConfigurableIssueCodesProvider.java
